/**
 * General elements
 */

@import url(figure.css);
@import url(comments.css);

body {
  color: #000;
  background-color: #66a;
  font-family: arial, sans-serif;
  overflow-y: scroll;
}

h1 {
  font-size: 2.2em;
}

p{
  margin-left: 0.2em;
}
/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
  box-shadow:  0px 10px 5px 5px #000;
  background-color: #baf;
}


/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #444;
}


/**
 * Layout for main
 */
#main {
  min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #111;
  padding-top: 22px;
}

.sitefooter {
  color: #666;
}


/**
 * For articles
 */
.article1 {
  width: 700px;
  border-right: 1px solid #ccc;
  padding-right: 1em;
  margin-left: 1em;
}

.article1 h1,
.article1 h2 {
  border-bottom: 1px solid #ccc;
}

.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #444;
}

.byline p {
  margin-top: 0;
}

.left{
  float: left;
}

.right{
  float: right;
}

ul{
  list-style-type:none;
  padding: 0;
}

ul li a{
  color: #000;
  text-decoration:udnerline;
}

ul li a:hover{
  text-decoration:none;
}

fieldset{
  margin-left: 0;
}

